.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #343a40;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card {
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
}

.card-title.text-center {
  text-align: center;
}

.btn-primary {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.w-100 {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
